<!DOCTYPE html>
<html >
<head>
    <title>layui</title>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

    <link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
     <!--注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body style="background-color:lightseagreen">
<div>
<h1 align="center">夜雨听风</h1></div>
<p>
    <div align="center">

        <form action="loginPage", method="post">


            <table>
                <tr>
                    <td>用户名：</td>
                    <td ><input type="text" name="name"> </td>
                </tr>
                <tr style="margin-top: auto">
                    <td>密码：</td>
                    <td><input type="password" name="password"></td>
                </tr>

                <tr>
                    <td><input class="layui-btn layui-btn-normal"type="submit" value="登录"></td>
                </tr>
            </table>
            没有账号？去<a href="http://localhost:8080/register">注册</a>
        </form>
    </div></p>

</body>
</html>