<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h1 align="center">夜雨听风</h1>
<body bgcolor="#add8e6"><div style="margin-top:100px;"align="center">
<form action="doregister" method="post" >
    <div>
        <label>用户名称</label><input type="text" id="username" placeholder=" 用户名"
                                  name="username" required><br> <br>
    </div>
    <div>
        <label>登录密码</label><input type="password" id="password"
                                  placeholder=" 密码" required name="password"><br> <br>
    </div>
    <div>
        <label>确认密码</label><input type="password" id="password2"
                                  placeholder=" 确认密码" required name="password2"><br>
        <br>
    </div>
    <div>
        <span>已有账号去</span><a href="http://localhost:8080/">登录</a> <input type="submit"
                                                               value="同意协议并注册" />
    </div>
</form>
</div>

</body>
</html>